{% extends "custom_admin/base.html" %}
{% block content %}
<h2>Вход в админку</h2>
<form method="post">
    {% csrf_token %}
    {% if form.errors %}
        <p class="text-danger">Неверный логин или пароль</p>
    {% endif %}
    <div class="mb-3">
        <label for="username" class="form-label">Логин</label>
        <input type="text" name="username" class="form-control" required>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Пароль</label>
        <input type="password" name="password" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-success">Войти</button>
</form>
{% endblock %}